IMG_NAME='Buster-Raspicam'
LOCALE_DEFAULT='fr_FR.UTF-8'
KEYBOARD_KEYMAP='fr'
KEYBOARD_LAYOUT='French (FR)'
TIMEZONE_DEFAULT='Europe/Paris'
WPA_ESSID='MySSID'
WPA_PASSWORD='MySSIDPasswd'
WPA_COUNTRY='FR'
ENABLE_SSH=1
STAGE_LIST='stage*'

